body{
    font-family: Loew;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 80px;
    width: 80px;
    color: black;
}

.clickedX{
    font-size: 40px;
    color: steelblue;
    background-color: lightblue;
}

.clickedO{
    font-size: 40px;
    font-weight: bold;
    color: firebrick;
    background-color: lavenderblush;
}

.noDisplay {
    display: none
}